:root {
   /* Colors */
   --light-blue: #edf6f9;
   --olive-green: #475f44;
   --white: #ffffff;

    /* Fonts */
    --header-font: font-family: 'Montserrat', sans-serif;
    --paragraph-font: 'Lora', serif;
}