*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: lightgrey;
}

.container{
    width: 500px; 
    background-color: white;   
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding : 25px;
    margin-top: 8px;
}

.heading-container{
    margin-top: 100px;
}

.heading{
    text-align: center;
    font-family: 'Roboto';
    font-weight:bolder;
    padding: 10px;
}

.city-input{
    text-align: center;
}

.app-title{
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.weather-container{
    width: 300px;
    height: 260px;
}

/* .weather-icon{
    width: auto;
    height: auto;
} */

.weather-icon img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.temperature-value{
    width: 300px;
    height:60px;
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #293251;
    text-align: center;
    font-size: 0.5em;
}

.temperature-description{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}

.logo{
    margin-top: 8px;
    margin-left: 650px;
}
